<h1>Listing Route Things To Check</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @route_things_to_checks.each do |route_things_to_check| %>
      <tr>
        <td><%= route_things_to_check.name %></td>
        <td><%= link_to 'Show', route_things_to_check %></td>
        <td><%= link_to 'Edit', edit_route_things_to_check_path(route_things_to_check) %></td>
        <td><%= link_to 'Destroy', route_things_to_check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route things to check', new_route_things_to_check_path %></br>
<%= link_to 'Back to Admin', welcome_admin_path %>
