<h1>Listing Route Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @route_types.each do |route_type| %>
      <tr>
        <td><%= route_type.name %></td>
        <td><%= link_to 'Show', route_type %></td>
        <td><%= link_to 'Edit', edit_route_type_path(route_type) %></td>
        <td><%= link_to 'Destroy', route_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route type', new_route_type_path %></br>
<%= link_to 'Back to Admin', welcome_admin_path %>
